
* {
    color: blue;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background: url(/static/img/tower.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Comfortaa', cursive;
}

/* tower image */
.bg_overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
    /* opacity: 50%; */
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* lost in time text */ 
.header_text {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.503);
    width: 70vw;
}

.index_container {
    font-size: 1.2rem;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.503);
    width: 70vw;
    min-height: 100vh;
}

.heading_padded {
    padding-top: 15vh;
}

/* buttons */
.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
    background-color: green;
    border-radius: 5px;
}

.center_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.center_text {
    text-align: center;
    width: 80%;
    margin: auto;
}
/* sliders W3 schools */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 10px top margin */
.mt-10 {
    margin-top: 10px;
}

/* game page structure */

.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-canvas{
    height: 760px;
    width: 760px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

#game-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.click-layer{
    position: absolute;
    top: 0px;
    left: 0px;
}

#game-text{
    min-height: 150px;
    max-height: 730vh;
    width: 760px;
    border: solid #fff 7px;
    border-radius: 16px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 50px;
    background: url(/static/img/notebook.jpg) no-repeat center top local;
}

#game-text p{
    margin: 0px;
}

.text-player {
    text-align: start;
}

.text-companion {
    text-align: end;
}

.text-past {
    font-family: 'Indie Flower', cursive;
}

.text-present {
    font-family: 'Caveat', cursive;
}

.pride-border {
    border: double 7px transparent;
    background-image: linear-gradient(white, white),
    /* REF: https://cesque.com/gaydient/ */
    linear-gradient(to right,
                  rgb(237, 34, 36),
                  rgb(243, 91, 34),
                  rgb(249, 150, 33),
                  rgb(245, 193, 30),
                  rgb(241, 235, 27) 27%,
                  rgb(241, 235, 27),
                  rgb(241, 235, 27) 33%,
                  rgb(99, 199, 32),
                  rgb(12, 155, 73),
                  rgb(33, 135, 141),
                  rgb(57, 84, 165),
                  rgb(97, 55, 155),
                  rgb(147, 40, 142));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.pride-text {
    background-image: linear-gradient(to right,
                  rgb(237, 34, 36),
                  rgb(243, 91, 34),
                  rgb(249, 150, 33),
                  rgb(245, 193, 30),
                  rgb(241, 235, 27) 27%,
                  rgb(241, 235, 27),
                  rgb(241, 235, 27) 33%,
                  rgb(99, 199, 32),
                  rgb(12, 155, 73),
                  rgb(33, 135, 141),
                  rgb(57, 84, 165),
                  rgb(97, 55, 155),
                  rgb(147, 40, 142));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    color: transparent;
}

#back{
    height: 50px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 700px;
    background-color: white;
    border: solid 10px white;
    border-top-right-radius: 16px;
    text-align: center;
    text-decoration: none;
}

/* Entrance page */

#entrance{
    height: 300px;
    width: 170px;
    position: absolute;
    left: 370px;
    top: 200px;
}

/* hallway page */

#patio-door{
    height: 450px;
    width: 160px;
    position: absolute;
    left: 200px;
    top: 190px;
}

#stairs-to-lv1{
    height: 100px;
    width: 400px;
    position: absolute;
    left: 100px;
    top: 0px;
}

/*  Bedroom Page */

#stairs-to-lv2{
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

/*  lounge Page */

#window2{
    height: 330px;
    width: 120px;
    position: absolute;
    left: 150px;
    top: 100px;
}

#window3{
    height: 320px;
    width: 150px;
    position: absolute;
    left: 480px;
    top: 100px;
}

/*  patio Page */

#pot{
    height: 120px;
    width: 120px;
    position: absolute;
    left: 450px;
    top: 550px;
}