* {
    color: blue;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* game page structure */

.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-canvas{
    height: 700px;
    width: 1000px;
    position: relative;
}

#game-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.click-layer{
    position: absolute;
    top: 0px;
    left: 0px;
}

#game-text{
    height: 150px;
    width: 1000px;
    border: solid black 1px;
    margin-top: 10px;
    padding: 10px;
}

#game-text p{
    margin: 0px;
}

#back{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 600px;
    border: solid 10px greenyellow;
}

/* Entrance page */

#entrance{
    height: 300px;
    width: 170px;
    position: absolute;
    left: 500px;
    top: 170px;
}

/* hallway page */

#garden-door{
    height: 450px;
    width: 160px;
    position: absolute;
    left: 320px;
    top: 170px;
    border: solid 10px pink;
}

#stairs-to-lv1{
    height: 100px;
    width: 200px;
    position: absolute;
    left: 300px;
    top: 0px;
    border: solid 10px aqua;
}