* {
    color: blue;
    box-sizing: border-box;
}

.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-canvas{
    height: 700px;
    width: 1000px;
}

.game-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#game-text{
    height: 150px;
    width: 1000px;
    border: solid black 1px;
    margin-top: 10px;
}