<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Index</title>
</head>
<body>
   
    <section>
        <div class="container">
            <div class="row">
                <div>
                    <img class="bg_image" src="{{ url_for('static', filename='img/tower.jpg') }}">
                    <div class="bg_text">
                        <a href="{{ url_for('index') }}"><h1>LOST IN TIME</h1></a>
                    </div>
                    {% block content %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>