{% extends "base.html" %}
{% block content %}
<p class="center_text"><span id="game_ID"></span>: GAME ID</p>
<div class="center_buttons">
    <button class="button" type="button" onclick="game_ID()">Get another ID</button>

</div>
<!-- SLIDERS -->
<div class="center_text">
    <span>OPEN</span>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
    <span>PRIVATE</span>
</div>
<div class="center_text mt-10">
    <span>PAST</span>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <span>FUTURE</span>
</div>
<div class="center_buttons">
    <button class="button" type="button" onclick="window.location.href='{{ url_for( 'entrance' ) }}'">Entrance</button>
    <button class="button" type="button" onclick="window.location.href='{{ url_for( 'join_game' ) }}'">***Share</button>
</div>
{% endblock %}


{% block scripts %}
    <script>
        async function game_ID() {
            const response = await fetch('https://random-word-api.herokuapp.com/all');
            const randomWords = await response.json()
            var firstWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            var secondWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            var thirdWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            let finalWords=firstWord + "-" + secondWord + "-" + thirdWord;

            let span = document.getElementById('game_ID');

            span.innerHTML = finalWords;
        }
        game_ID()
    </script>
{% endblock %}
