{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('create_game') }}" method="POST">
    <div class="center_buttons">
        <label for="game_ID">Game ID: </label>
        <input id="game_ID" name="game_ID" type="text" value="game id">
        <div class="button" onclick="game_ID()">Get another ID</div>
    </div>
    <!-- SLIDERS -->
    <div class="center_text">
        <span>Public</span>
        <label for="private" class="switch">
            <input id="private" name="private" type="checkbox">
            <span class="slider round"></span>
        </label>
        <span>Private</span>
    </div>
    <div class="center_text mt-10">
        <span>One</span>
        <label for="player_no" class="switch">
            <input id="player_no" name="player_no" type="checkbox">
            <span class="slider round"></span>
        </label>
        <span>Two</span>
    </div>
    <label for="player_name">Your Name</label>
    <input id="player_name" name="player_name" type="text">
    <div class="center_buttons">
        <button class="button" type="submit">Start</button>
        <div class="button" onclick="shareGame()">Share Game</div>
    </div>
</form>
{% endblock %}


{% block scripts %}
    <script>
        async function game_ID() {
            const response = await fetch('https://random-word-api.herokuapp.com/all');
            const randomWords = await response.json();
            var firstWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            var secondWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            var thirdWord=randomWords[Math.floor(Math.random()*randomWords.length)];
            let finalWords=firstWord + "-" + secondWord + "-" + thirdWord;

            let gameIdInput = document.getElementById('game_ID');

            gameIdInput.value = finalWords;
        }
        game_ID();

        function shareGame() {
            // code taken from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
            /* Get the text field */
            var copyText = document.getElementById("game_ID");

            console.log('copyText', copyText)

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

            /* Alert the copied text */
            alert("Copied the Game ID, Share this with your friends!  " + copyText.value);
        }

    </script>
{% endblock %}
