{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('join_game') }}" method="POST">
    <div class="center_buttons">
        <label for="game_ID">Game ID: </label>
        <input id="game_ID" name="game_ID" type="text" value="{{game.game_id}}">
    </div>
    <div class="center_text">
        <p>This is a Public Game you are player {{session["player_no"]}}. 
            You are playing with {{ game.player_two }}{{game.player_one}}</p>
    </div>
    <label for="player_name">Your Name</label>
    <input id="player_name" name="player_name" type="text">
    <div class="center_buttons">
        <button class="button" type="submit">Join Game</button>
    </div>
</form>
{% endblock %}