{% extends "base.html" %}

{% block game_content %}
    <img id="game-background" src="{{ url_for('static', filename='img/lounge.jpg') }}" alt="">
    <div class="click-layer">
        <a id="window1" href="{{ url_for('view1') }}"></a>
        <a id="window2" href="{{ url_for('view1') }}"></a>
        <a id="window3" href="{{ url_for('view2') }}"></a>
        <a id="window4" href="{{ url_for('view2') }}"></a>
        <a id="back"  href="{{ url_for('bedroom') }}">
            back
        </a>
    </div>
{% endblock %}